# Banco de Dados
DATABASE_URL="postgresql://docker:docker@localhost:5432/signo-tech?schema=public"
DB_HOST="localhost"
DB_PORT=5432
DB_USER="docker"
DB_PASS="docker"
DB_NAME="signo-tech"

# Autenticação
JWT_SECRET="seu_secret_aqui"

# App
PORT=3333